streamlit==1.35.0
numpy>=1.26.0
pandas>=2.2.0
requests>=2.31.0
torch>=2.2.0
chromadb==1.4.1
protobuf==3.20.3
Pillow>=10.0.0
transformers>=4.40.0
python-dotenv>=1.0.1
openpyxl>=3.1.2
rembg>=2.0.56
onnxruntime>=1.17.0